form button {
  margin: 5px 0px;
}
textarea {
  display: block;
  margin-bottom: 10px;
}
/*post*/
.post {
  border: 1px solid #ccc;
  margin-top: 10px;
}
/*comments*/
.comments-section {
}
.comment {
  margin-bottom: 10px;
}
.comment .comment-name {
  font-weight: 400;
  font-size: 12px;
}
.comment .comment-date {
  font-style: italic;
  font-size: 0.8em;
  margin-left: 20px;
}
.comment .reply-btn,
.edit-btn {
  font-size: 0.8em;
}
.comment-details {
  width: 91.5%;
  float: left;
}
.comments-wrapper {
  background-color: red;
}
.comment-details p {
  margin-bottom: 0px;
  font-size: 10px;
}
.comment .profile_pic {
  width: 35px;
  height: 35px;
  margin-right: 5px;
  float: left;
  border-radius: 50%;
}
/*replies*/
.reply {
  margin-left: 30px;
}
.reply_form {
  margin-left: 40px;
  display: none;
}
.comment_form {
  margin-top: 10px;
}
.reply-btn,
.likeDislike,
.badgeIcon,
.replyButton {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
.commentsCount,
.commentsTitle,
.hamIcon {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  font-size: 14px;
}
.hamIcon {
  position: relative;
  /* Adjust these values accordingly */
  top: 1px;
  left: 5px;
}
.likeDislike span {
  margin-right: 10px;
}
.vertical-line {
  display: inline-block;
  border-left: 1px solid #ccc;

  height: 16px;
}
